.App-logo
{
    position: relative;
    border-radius: 50% ;
    width: auto;
        
}
.navegacion{
    
    color:cornsilk;
    
    
}
ul li::marker{
   color: brown;
  }
.App
{
    color:blueviolet;
    width: auto;
}